#pie {
  path {
    color: #e40f6b;
  }
}
#speaker {
  path {
    color: #700874;
  }
}
#lab {
  path {
    color: #033a10;
  }
}
#puzzle {
  path {
    color: #4e3104;
  }
}
#earth {
  path {
    color: #064074;
  }
}
#heart {
  path {
    color: #af0b21;
  }
}
#star {
  path {
    color: #e6b60b;
  }
}
#music {
  path {
    color: $black;
  }
}
